In [1]:
import numpy as np
import pandas as pd
import nltk
import re
from time import time
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.naive_bayes import MultinomialNB
from nltk.corpus import stopwords

In [2]:
data = pd.read_csv(r"E:\DataSets-master\data.csv")

In [3]:
data.head()

                      url label
0  diaryofagameaddict.com   bad
1        espdesign.com.au   bad
2      iamagameaddict.com   bad
3           kalantzis.net   bad
4   slightlyoffcenter.net   bad

In [4]:
print("Total sample is {}".format(data.shape))

Total sample is (420464, 2)

In [5]:
def text_cleaning(data):
    corpus=[]
    for i in range(0,len(data)):
        process_data=re.sub(r'\W',' ',str(data[i]))
        process_data=process_data.lower()
        process_data=re.sub(r'\d+'," ",process_data)
        process_data=re.sub(r"[^a-zA-Z]",' ',process_data)
        process_data=re.sub(r'\s+',' ',process_data)
        corpus.append(process_data)
    return corpus

In [6]:
corpus = text_cleaning(data["url"])

In [7]:
tf_vector=TfidfVectorizer(max_features=len(corpus),ngram_range=(1,2),min_df=1,max_df=.8,stop_words=stopwords.words('english'))

In [8]:
type(tf_vector)

sklearn.feature_extraction.text.TfidfVectorizer

In [9]:
tf_vector_matrix=tf_vector.fit_transform(corpus)

In [10]:
x_feature=tf_vector_matrix
y_cat=data.label

In [11]:
Xtrain,Xtest,Ytrain,Ytest=train_test_split(x_feature,y_cat,test_size=.30,random_state=101)

# Naive bayes

In [12]:
time_s=time()
nb_model=MultinomialNB()
nb_learner=nb_model.fit(Xtrain,Ytrain)
time_end=time()
nb_train_time=time_end-time_s
print("Time taken by nb model {}".format(nb_train_time))

Time taken by nb model 0.9355957508087158

In [13]:
testInput=tf_vector.transform(["myspace.com/misstressbarbara"])

In [14]:
print(testInput)

  (0, 194099)	0.30904736041142106
  (0, 194097)	0.3089411862901116
  (0, 186627)	0.629478304622296
  (0, 77525)	0.6389184702751584
  (0, 69872)	0.06771502630497474

In [15]:
Ypnb=nb_learner.predict(Xtest)
acc_nb=accuracy_score(Ypnb,Ytest)*100
print("Acc of nb is {} ".format(acc_nb))

Acc of nb is 97.2031076581576

# Saving the module

In [16]:
# import joblib

In [17]:
# joblib.dump(nb_learner,"nb_learner_model.pkl")
# joblib.dump(tf_vector,"tf_vector_model.pkl")